body {
	margin: 0;
}

.topBar {
	position: sticky;
	display: flex;
	justify-content: center;
	width: max(1000px, 50%);
	height: 50px;
	background-color: white;
	top: 0;
	margin: 8px;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 14px
}


.topBar > div {
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}

.main {
	width: max(1000px, 50%);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 3fr 5fr;
	margin-left: auto;
	margin-right: auto;
	background-color: lightgrey;
	grid-gap: 1px;
	font-size: 12px;
}

.row, #header {
	display: contents;
}

.col {
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1em
}

p {
	margin: 0em;
	text-align: center;
}

html {
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

ul {
	list-style: square;
	margin: 0;
	margin-left: 1em;
	padding: 0;
}

li {
	text-align: left;
	margin: 0;
}

table {
	/* width: min(1000px, 40%); */
	/* margin-left: auto; */
	margin-right: auto;
	border-collapse: collapse;
}

tr, td, th {
	padding: 5px 10px;
}

td {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

th {
	border-right: 2px solid black;
}

th:not(#leftLabel, #tenseMarker) {
	border-left: 2px solid black;
}

#leftLabel {
	text-align: right;
}

#tenseMarker {
	border-bottom: 2px solid black; 
	border-top: 2px solid black;
}

#ppLabel {
	border-top: 2px dotted lightgrey;
	border-bottom: 2px dotted lightgrey;
}

td {
	text-align: center;
	white-space: nowrap;
}

#def {
	align-items: baseline;
}

#forms > * {
	margin: auto;
}

#indcl {
	color: darkgrey;
}