.main {
	width: max(1400px, 50%);
	display: grid;
	grid-template-columns: 6fr 6fr 1fr 6fr 6fr;
	margin-left: auto;
	margin-right: auto;
	background-color: lightgrey;
	grid-gap: 1px;
	font-size: 16px;
}

.row {
	display: contents;
}

.col {
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1em
}

p {
	margin: 0em;
}

html {
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

ul {
	list-style: square;
	margin: 0;
	margin-left: 1em;
	padding: 0;
}

li {
	text-align: left;
	margin: 0;
}

table {
	width: min(1000px, 40%);
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

tr, td {
	border-left: 2px solid black;
	border-right: 2px solid black;
	padding: 5px 15px;
}

td {
	text-align: center;
	white-space: nowrap;
}

#def {
	width: 300px
}

#forms>* {
	margin: auto;
}

#indcl {
	color: darkgrey;
}